<app-header></app-header>
<div class="container" *ngIf="cdet.length===0">
    <div class="row text-center mb-5 mt-5">
       <p style="color:red;font-size: 40px;">No Products In Your Cart</p>
       <a routerLink="/Products"><button class="btn btn-primary">Add Products</button></a>
    </div>
</div>

<div class="container" *ngIf="cdet.length > 0">
    <div class="row">
        <table class="table table-bordered table-dark bg-dark text-white text-center mt-2 mx-auto">
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of cdet,let i=index">
                <td>{{i+1}}</td>
                <td>{{x.d_name}}</td>
                <td><img [src]="filepath+x.d_img" [alt]="" style="height:100px;width:100px"></td>
                <td>{{x.d_desc}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>