.cimage{
    height:400px;
}
.bg-container{
    background-color:white;
    height:400px;
}
.heading:hover{
 color:green;
}
#demo{
    height:400px;
}
.offer{
    height:400px;
}
.boatimage{
    height:70%;
}