<app-adminheader></app-adminheader>
<div class="container">
    <table class="table table-bordered bg-dark text-white mt-5 text-center w-75 mx-auto">
        <tr>
            <th>Fname</th>
            <td>{{b[0].fname}}</td>
        </tr>
        <tr>
            <th>Lname</th>
            <td>{{b[0].lname}}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{b[0].mnum}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{b[0].email}}</td>
        </tr>
    </table>
</div>